.headline{
    line-height: 30px;
    background-color: rgba(175, 176, 176, 0.299);
    font-weight: bold;
}
.beginning{
    background-color: rgb(88, 176, 248);
    color: aliceblue;
}
.table{
    text-align: center;
    height: 100px;
    width: 1520px;
    background-color: rgba(175, 176, 176, 0.299);
    
    
}
.content2{
    background-color: aliceblue;
}
